<!--
  The Disqus lazy loading.
  Powered by: <https://github.com/osvaldasvalutis/disqusLoader.js>
-->

<!--<div id="disqus" class="pt-2 pb-2">
  <p class="text-center text-muted small pb-5">
    Comments powered by <a href="https://disqus.com/">Disqus</a>.
  </p>
</div>-->

<!--<script src="{{ '/assets/js/lib/jquery.disqusloader.min.js' | relative_url }}"></script>
<script>
  const options = {
    scriptUrl: '//{{ site.disqus.shortname }}.disqus.com/embed.js',

    disqusConfig: function() {
      this.page.title = '{{ page.title }}';
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url }}';
    }
  };

  $.disqusLoader('#disqus', options);
</script> -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8946035698838402"
     crossorigin="anonymous"></script>
<!-- Horizontal Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8946035698838402"
     data-ad-slot="6778226458"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
