
<div id="mc_embed_signup" class="d-flex flex-wrap mt-3 mb-1 mr-3">
<form action="https://gmail.us6.list-manage.com/subscribe/post?u=0e25126063c9c97a48d665d46&amp;id=a797462a9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<span>Subscribe to Dev Tech Blogs</span>
	<input type="email" value="" name="EMAIL" class="bg-dark text-white" id="mce-EMAIL" placeholder="Email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0e25126063c9c97a48d665d46_a797462a9d" tabindex="-1" value=""></div>
   <span><div><input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary btn-sm" id="mc-embedded-subscribe"></div></span>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

